In [1]:
import pandas as pd
import os
from datetime import timedelta

In [39]:
def corr_finder(weatherdf,pricedf):
    weatherdf["Date"] = pd.to_datetime(weatherdf["Date"])
    pricedf["Date"] = pd.to_datetime(pricedf["Date"])
    df = pd.merge(weatherdf,pricedf,on='Date',how='inner').iloc[:,[0,1,-1]]
    correlation = df.iloc[:,1].corr(df.iloc[:,2])
    return correlation

In [35]:
station_names = os.listdir(os.getcwd() + "/36 month Degree day")
commoditynames = pd.ExcelFile('commodity_prices.xlsx').sheet_names
names = [['New York', 'KJFK_Temps_Last36.csv'], ['Chicago', 'KORD_Temps_Last36.csv'], ['Boston', 'KBOS_Temps_Last36.csv'],['Philidelphia', 'KPHL_Temps_Last36.csv'],['Denver', 'KDEN_Temps_Last36.csv'],['Atlanta', 'KATL_Temps_Last36.csv'],['Minneapolis', 'KMSP_Temps_Last36.csv'],['Phoenix', 'KPHX_Temps_Last36.csv'],['Portland, ME', 'KPWM_Temps_Last36.csv'],['Houston', 'KIAH_Temps_Last36.csv'],['Detroit', 'KDTW_Temps_Last36.csv']]
names = {b:a for a,b in names}
matrix_station = pd.DataFrame(index=names.values(),columns=commoditynames)

['KIAH_Temps_Last36.csv', 'KORD_Temps_Last36.csv', 'KDEN_Temps_Last36.csv', 'KPWM_Temps_Last36.csv', 'KDTW_Temps_Last36.csv', 'KJFK_Temps_Last36.csv', 'KMSP_Temps_Last36.csv', 'KATL_Temps_Last36.csv', 'KBOS_Temps_Last36.csv', 'KPHX_Temps_Last36.csv', 'KPHL_Temps_Last36.csv']

In [40]:
for station in station_names:
    for commodity in commoditynames:
        matrix_station.loc[names[station], commodity] = corr_finder(pd.read_csv(f'36 month Degree day/{station}'),pd.read_excel('commodity_prices.xlsx',sheet_name=commodity))

In [24]:
citynames = pd.ExcelFile('bbg_weather.xlsx').sheet_names
commoditynames = pd.ExcelFile('commodity_prices.xlsx').sheet_names
matrix_city = pd.DataFrame(index=citynames,columns=commoditynames)

In [25]:
for city in citynames:
    for commodity in commoditynames:
        matrix_city.loc[city,commodity] = corr_finder(pd.read_excel('bbg_weather.xlsx',sheet_name=city),pd.read_excel('commodity_prices.xlsx',sheet_name=commodity))

In [26]:
matrix_city

,NG1 (Natural Gas),C01 (Brent),CL1 (WTI),C 1 (Corn),S 1 (Soy),W 1 (Wheat),FC1 (Feeder Cattle),LC1 (Live Cattle)
NYC,0.014347,-0.10347,-0.092027,-0.236298,-0.24746,-0.171965,0.106496,-0.042849
Chicago,0.021461,-0.079094,-0.083197,-0.261221,-0.228683,-0.191496,0.096024,-0.001719
Dallas,0.028941,-0.08617,-0.050999,-0.275027,-0.231714,-0.193342,0.089048,0.028929
Boston,0.015773,-0.102397,-0.093647,-0.218763,-0.246373,-0.160324,0.109108,-0.047173
Iowa,0.023998,-0.061861,-0.062829,-0.273086,-0.217451,-0.198703,0.083122,0.0164
Charlotte,0.051796,-0.11135,-0.044886,-0.236098,-0.181881,-0.16894,0.093627,-0.02833
LA,0.055751,-0.072392,-0.025615,-0.073909,-0.185222,-0.029816,-0.001381,-0.045787
Miami,0.071041,-0.109194,-0.02416,-0.17339,-0.141584,-0.12384,0.066283,-0.09778
Seattle,0.054182,-0.077043,-0.040139,-0.225715,-0.297769,-0.153022,0.070746,0.030395
Denver,0.043265,-0.067569,-0.049245,-0.25549,-0.265345,-0.177908,0.129797,0.006951
ElPaso,0.084121,-0.072048,-0.017604,-0.254423,-0.179998,-0.18202,0.091935,-0.001288

In [41]:
matrix_station

,NG1 (Natural Gas),C01 (Brent),CL1 (WTI),C 1 (Corn),S 1 (Soy),W 1 (Wheat),FC1 (Feeder Cattle),LC1 (Live Cattle)
New York,-0.011927,-0.06143,-0.104189,-0.273184,-0.302778,-0.15073,0.087024,-0.051324
Chicago,-0.004222,-0.043503,-0.0913,-0.297165,-0.278418,-0.188706,0.083671,-0.032839
Boston,-0.000544,-0.041382,-0.088532,-0.250896,-0.278994,-0.125192,0.091066,-0.048825
Philidelphia,-0.006963,-0.077889,-0.102191,-0.2913,-0.302566,-0.165345,0.103911,-0.05225
Denver,-0.031268,-0.054048,-0.0922,-0.261841,-0.291788,-0.171443,0.052096,-0.02158
Atlanta,0.013794,-0.087134,-0.070832,-0.292778,-0.263929,-0.170881,0.110052,-0.039304
Minneapolis,-0.006736,-0.035091,-0.072619,-0.292113,-0.269483,-0.189459,0.059733,-0.014808
Phoenix,0.013722,-0.0805,-0.109321,-0.261088,-0.251657,-0.170499,0.096903,-0.040685
"Portland, ME",0.017177,-0.045908,-0.077324,-0.247056,-0.268595,-0.130904,0.065758,-0.046517
Houston,0.046166,-0.070184,-0.061507,-0.316196,-0.272278,-0.212499,0.091647,-0.046902
Detroit,-0.023323,-0.051639,-0.104988,-0.286965,-0.282794,-0.173736,0.073996,-0.028949